<template>
  <v-container fluid class='login-page'>
    <v-container>
      <v-alert type="error" :value="errors">
        {{errors}}
      </v-alert>
      <v-layout row text-md-center>
        <welcome-header></welcome-header>
      </v-layout>
       <v-form v-model="valid" ref="form" lazy-validation>
        <v-text-field
          label="Informe seu e-mail"
          v-model="email"
          :rules="emailRules"
          required
        ></v-text-field>
        <v-text-field
          label="Informe sua senha"
          v-model="password"
          min="8"
          :append-icon="passwordVisibility ? 'visibility' : 'visibility_off'"
          :append-icon-cb="() => {(passwordVisibility = !passwordVisibility)}"
          :type="passwordVisibility ? 'password' : 'text'"
        ></v-text-field>

        <v-btn
          v-on:click="submit(email, password)"
          :disabled="!valid"
          block
          color="info"
        >
          Login
        </v-btn>
      </v-form>
      <router-link class='white-link' to="forgot-password">Forgot password?</router-link>
    </v-container>
  </v-container>
</template>

<script>
import welcomeHeader from '@/components/WelcomeHeader'
import { mapState } from 'vuex'

export default {
  name: 'login',
  components: {
    welcomeHeader
  },
  data: () => ({
    valid: true,
    email: '',
    emailRules: [
      v => !!v || 'Campo obrigatório',
      v => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'E-mail deve ser válido'
    ],
    password: '',
    passwordVisibility: true
  }),

  methods: {
    submit (email, password) {
      if (this.$refs.form.validate()) {
        this.$store.dispatch('login', {email, password})
          .then(() => this.$router.push({ path: '/' }))
      }
    }
  },
  computed: {
    ...mapState({
      errors: state => state.auth.errors
    })
  }
}
</script>

<style lang="scss" scoped>
.login-page {
  background-color: #6699ff;

  .white-link {
    display: block;
    text-align: center;
    color: white;
    text-decoration: none;
  }
}
</style>
