<template>
  <v-container>
    <p v-for="(post, index) in posts" :key="index">
      <post-card :post="post"></post-card>
    </p>
    <infinite-loading @infinite="infiniteHandler"></infinite-loading>
  </v-container>
</template>

<script>
import InfiniteLoading from 'vue-infinite-loading'
import { mapGetters } from 'vuex'

import postCard from '@/components/PostCard'

export default {
  name: 'timeline',
  components: {
    InfiniteLoading,
    postCard
  },
  methods: {
    infiniteHandler ($state) {
      if (this.hasMorePages) {
        this.$store.dispatch('getNextPage').then(() => {
          $state.loaded()
        })
      } else {
        $state.complete()
      }
    }
  },
  computed: {
    ...mapGetters([
      'posts',
      'hasMorePages'
    ])
  }
}
</script>
