<template>
  <v-layout>
    <v-flex xs12 sm6 offset-sm3>
      <v-card>
        <v-icon v-if="post.url" class="overflow" dark>videocam</v-icon>
        <v-card-media :src="'https://www.phofish.com/img/cp/880/880/post/post_uploader/26319/1527707952.jpeg'" height="360px">
          <profile-card class="post-profile" :type="'post'" :profile="post.user" :postTime="post.data_cadastro"></profile-card>
        </v-card-media>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import { mapState } from 'vuex'
import profileCard from '@/components/ProfileCard'

export default {
  name: 'timeline',
  props: {
    post: {
      type: Object
    }
  },
  components: {
    profileCard
  },
  methods: {
  },

  computed: {
    ...mapState({
    })
  }
}
</script>

<style lang="scss">
.overflow {
  position: absolute;
  right: 12px;
  top: 12px;
  z-index: 1;
}
.post-profile {
  background-color: rgba(0,0,0,0.54);
  height: 72px;
  margin-top: auto;
  padding: 6px;
}
</style>
