<template>
  <v-layout align-left row v-on:click="goToUserProfile()">
    <v-flex xs2 sm2 md2>
      <v-avatar size="60px">
        <img v-lazy="'https://www.phofish.com/img/c/80/80/usuario/user_uploader/2702/ramiro-gutierrez-1426373527.jpg'">
      </v-avatar>
    </v-flex>
    <v-flex xs8 sm8 md8>
      <p class="grey--text name">{{fullName}} <span v-if="type === 'post'">{{timeAgo}}</span></p>
      <p><strong>
        <v-icon right light>edit_location</v-icon>
        {{profile.cidade_uf}} {{currentUser}}
      </strong></p>

    </v-flex>
    <v-flex xs2 sm2 md2 v-if="type === 'search'">
      <follow-button :userId="'2'" :isFollowing="true"></follow-button>
    </v-flex>
  </v-layout>
</template>

<script>
import followButton from '@/components/FollowButton'
import { mapGetters } from 'vuex'

export default {
  name: 'ProfileCard',
  props: {
    profile: {
      type: Object
    },
    postTime: {
      type: Number
    },
    type: {
      type: String,
      validator (val) {
        return [
          'post',
          'search'
        ].includes(val)
      }
    }
  },
  components: {
    followButton
  },
  computed: {
    timeAgo () {
      return new Date(this.postTime)
    },
    fullName () {
      return `${this.profile.nome} ${this.profile.sobrenome}`
    },
    ...mapGetters([
      'currentUser'
    ])
  },
  methods: {
    goToUserProfile () {
      this.$router.push({path: `/users/${this.profile.id}`})
    }
  }
}
</script>

<style scoped lang="scss">
</style>
