<template>
   <v-flex class="welcome-header">
    <img src="../assets/images/welcome_logo.png">
    <h1 class="headline">Prove you're not a fish story</h1>
  </v-flex>
</template>

<script>
export default {
  name: 'WelcomeHeader'
}
</script>

<style scoped lang="scss">
.welcome-header {
  margin-bottom: 120px;

  .headline {
    color: white;
  }
}
</style>
